div {
    display: flex;
    padding: 8px;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.center {
    justify-content: center;
}

.center-x {
    align-items: center;
}

.spacer {
    flex: auto;
}

.more-padding {
    padding: 16px;
}

.extra-padding {
    padding: 32px;
}

body {
    display: flex;
    background-color: rgb(50, 50, 50);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-family: Courier, monospace, !important; */
    color: rgb(219, 219, 219);
}

.main {
    height: calc(100vh - 16px);
    width: 100%;
    align-content: center;
    padding: 0px;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-input {
    background-color: rgb(41, 41, 41);
    border-style: solid;
    border-radius: 0.7em;
    text-align: center;
    color: whitesmoke;
    font-family: Courier, monospace;
}

#player-name-field {
    font-size: x-large;
    font-weight: 600;
    padding: 10px;
}

button {
    padding: 8px 28px;
    background-color: rgb(255, 221, 0);
    border: 4px solid rgb(50, 50, 50);
    border-radius: 0.7em;
    font-family:  Courier, monospace;
    font-weight: 800;
    font-size: large;
    /* font-variant:small-caps; */
    color: rgb(56, 48, 1);
    transition: all 0.2s ease;
}

button:hover {
    border-color: whitesmoke;
}

#start-button {
    transition: all 0.5s ease;
}

#start-button.clicked  {
    transition: all 0.5s ease;
    transform: scale(24);
    border: 20px solid rgb(255, 221, 0);
    color: rgb(50, 50, 50);
    opacity: 0;
}

.main-game {
    height: 100vh;
    width: 100vw;
    align-content: center;
}

.expand-w {
    width: 100%;
}

/* .window-content {
    background-color: rgb(192,192,192);
    border-top: 4px solid rgb(255, 255, 255);
    border-left: 4px solid rgb(255, 255, 255);
    border-right: 4px solid rgb(128, 128, 128);
    border-bottom: 4px solid rgb(128, 128, 128);
    padding: 4px 8px;
    Temp
    width: 50%;
    height: 40%;
} */

#back-button {
    all: unset;
    font-size: xx-large;
    padding: 12px;
    color: rgb(255, 221, 0);
}


.gameboard {
    border: solid;
    max-width: 800px;
    width: calc(min(600px, 80vw));
    min-width: 300px;
    min-height: 320px;
    height: calc(min(600px, 80vh, 80vw) + 59px);
    border-radius: 12px;
}

.score-text {
    padding: 4px;
    font-family: Courier, monospace;
}

.grid {
    flex-direction: column;
    /* border: solid; */
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.grid-row {
    flex-grow: 1;
    width: 100%;
    justify-content:space-evenly;
    padding: 0px;
}

.ficha {
    width: 100%;    
    border: solid;
    background-color: rgba(255, 221, 0, 0.926);
    border-color: rgba(250, 217, 0, 0.926);
    color: rgb(50, 50, 50);
    padding: 0px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 2em;
    font-family: Courier, monospace;
    font-weight: 900;
    margin: 1px;
}

.ficha.empty {
    background-color: rgb(50, 50, 50);
}